<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ModelPath" value="app\model"/>
    <add key="ControllerPath" value="app\view"/>
    <add key="ViewPath" value="classic\src\view"/>
  </appSettings>
</configuration>